:host {
  width: 100vh;
  height: 100vh;

  img#mapImg {
    position: absolute;

    transition: width 30ms linear, left 30ms linear, top 30ms linear;
  }

  app-marker {
    transition: left 30ms linear, top 30ms linear, width 30ms linear, height 30ms linear;

  }
}
