<ng-container *ngIf="(map$ | async) as map">
  <img [src]="'/api/images/' + map.ImageURL | secure | async"
       alt=""
       id="mapImg"
       appRealInit
       (init)="onMapInit()"
       [style.left]="mapPos.x + 'px'"
       [style.top]="mapPos.y + 'px'"
       [style.width]="zoomLevel + '%'"
  >
  <ng-container *ngIf="(pins$ | async) as pins">
    <ng-container *ngIf="pins.length > 0">
      <app-marker
        *ngFor="let pin of pins; let i = index"
        [pin]="pin"
        [basePinSize]="basePinSize"
        [zoomLevel]="zoomLevel / zoomPinMod + 100 * (1 - 1/zoomPinMod)"
        [pos$]="(pinPositions$ | async)?.[i] ?? of()"
        (clicked)="onPinClicked()"
      />
    </ng-container>
  </ng-container>
  <ng-container *ngIf="(clicked$ | async)">
    <app-pin-form
      (finished)="onFormFinish()"
      [map$]="map$"
      [clicked$]="clicked$"
    />
  </ng-container>
</ng-container>

<img src="arrow-left.svg" alt="back" class="back" (click)="onBack()">
<img
  [src]="(settingsMenu ? 'cog' : 'cog-outline') + '.svg'"
  alt="settings"
  class="settings"
  (click)="settingsMenu = !settingsMenu"
>

<app-settings-menu *ngIf="settingsMenu" [map$]="map$"
/>
<!--                   [mapId]="(map$ | async)?.ID ?? -1"-->
